<section class="text-align-center">
        <header class="text-align-center">
            <h4 id="myModalLabel"=>Login to your account</h4>
        </header>
        <%= form_tag login_user_path do %>
            
            <div class="form-group no-margin">
                <%= label_tag :email %><br />
                <div class="input-group input-group-lg">
                    <span class="input-group-addon">
                        <i class="eicon-user"></i>
                    </span>
                    <%= text_field_tag :email, params[:email] %>
                </div>      
            </div>
            <div class="form-group">
                <%= label_tag :password %><br />
                <div class="input-group input-group-lg">
                     <span class="input-group-addon">
                         <i class="fa fa-lock"></i>
                     </span>
                     <%= password_field_tag :password %>                          
                </div>
             
                
            <div class="form-actions">
              
                    <%= submit_tag "Log In", class: "btn btn-block btn-lg btn-danger"%>   
               
            </div>
        <% end %>
             
</section>

<!-- Sign in Form Start -->
                                        <form class="form-horizontal" role="form">
                                            <div class="form-group">
                                                <label for="User Name" class="col-lg-3 control-label">Username</label>
                                                <div class="col-lg-9">
                                                    <input type="text" class="form-control" id="username">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="password" class="col-lg-3 control-label">Password</label>
                                                <div class="col-lg-9">
                                                    <input type="password" class="form-control" id="password">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-lg-offset-3 col-lg-9">
                                                    <button type="submit" class="btn btn-info">Login</button>
                                                </div>
                                            </div>
                                        </form>
                                        <!-- Sign in form End -->
                                        <h4><span>OR</span></h4>
                                        <!-- Sign In with Social media -->
                                        <div class="social-sign">
                                            <a href="#" class="btn btn-primary"><i class="fa fa-facebook"></i>&nbsp; Sign in With Facebook</a>&nbsp;
                                            <a href="#" class="btn btn-danger"><i class="fa fa-google-plus"></i>&nbsp; Sign in With Google</a>
                                        </div>

