				
		<!-- CTA Start -->
		
		<div class="cta">
			<div class="container">
		
				<div class="cta-item">
					<div class="row">
						<div class="col-md-1 col-sm-2">
							<%= image_tag "5.png", :class => "img-responsive" %>
						</div>
						<div class="col-md-8 col-sm-6">
							<h3><strong>Unirse: </strong> una membresía - prestigio en la comunidad científica hondureña</h3>
							<p>Utiliza OHB para lograr el progreso de la ciencia a nivel nacional. </p>
						</div>
						<div class="col-md-3 col-sm-4">
							<!-- CTA Buttons -->
							<div class="caption">
								
								
								<a href="/sessions/new" class="btn btn-lg br-lblue"><i class="fa fa-sign-in red"></i>Sign In</a>
								<a href="/users/signup" class="btn btn-lg br-green"><i class="fa fa-sign-desktop"></i>Registrarse</a>
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<!-- CTA End -->
		
		
		
		<!-- Sponsor Start -->
		
		<div class="sponsor">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="sponsor-item">
							<a href="#"><%= image_tag "facebook.png", :class => "img-responsive" %></a>

							<a href="#"><%= image_tag "twitter.png", :class => "img-responsive" %></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<!-- Sponsor End -->

		<!-- Scroll to top -->
		<span class="totop"><a href="#"><i class="fa fa-chevron-up"></i></a></span> 
		<!-- Footer Start -->
		
		<div class="footer">
			<div class="footer-inner">
				<div class="container">
					<div class="footer-head">
						<ul class="item">
							<li class="br-orange">
								<h3><a href="#"><i class="fa fa-desktop"></i> &nbsp;Compromiso</a></h3>
								<p>comprometidos a mejorar este país</p>
							</li>
							<li class="br-lblue">
								<h3><a href="#"><i class="fa fa-group"></i> &nbsp;Innovación</a></h3>
								<p>Ideas que <b>impactan</b></p>
							</li>
							<li class="br-green">
								<h3><a href="#"><i class="fa fa-laptop"></i> &nbsp;Una Sola Red</a></h3>
								<p>Una red que siempre crece</p>
							</li>
						</ul>
					</div>
					
					<div class="clearfix"></div>
					<div class="row">
						<div class="col-md-2 col-sm-3">
							<div class="footer-widget">
								<h4><i class="fa fa-unlink"></i> &nbsp; Navegación</h4>
								<ul>
									<li><a href="/welcome/index"><i class="fa fa-home"></i> &nbsp; Página Principal</a></li>
									<li><a href="/welcome/service"><i class="fa fa-gear"></i> &nbsp; Servicios</a></li>
									<li><a href="/welcome/features"><i class="fa fa-laptop"></i> &nbsp; Qué Hacemos</a></li>
									<li><a href="/welcome/about"><i class="fa fa-picture-o"></i> &nbsp; Quiénes Somos</a></li>
									<li><a href="/welcome/faq"><i class="fa fa-table"></i> &nbsp; Preguntas Frecuentes</a></li>
								</ul>
							</div>
						</div>
						<div class="col-md-3 col-sm-4">
							<div class="footer-widget">
								<h4><i class="fa fa-user"></i> &nbsp; Quiénes Somos</h4>
								<p>Una organización nacional en busca de mejorar el profesionalismo en la ciencia de la biotecnología en Honduras y presentar un gran camino para inversionistas y extranjeros en el cual pueden cultivar de esta nueva industria en el país</p>
								<div class="social">
									<a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
									<a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-5">
							<div class="footer-widget">
								<h4><i class="fa fa-comments"></i> &nbsp; Somos OHB</h4>
								<div class="footer-rp">
									<a href=""><%= image_tag "user-xs.jpg", :class => "img-responsive" %></a>
									<div class="item">
										<h3><a href="">Honduras crecerá en esta industria y le ayudaremos todo el camino.</a></h3>
									</div>
								</div>
								<div class="footer-rp">
									<a href=""><%= image_tag "user-xs.jpg", :class => "img-responsive" %></a>
									<div class="item">
										<h3><a href="">Levantaremos todo obstáculo sin importar lo que pase.</a></h3>
									</div>
								</div>
								<div class="footer-rp">
									<a href=""><%= image_tag "user-xs.jpg", :class => "img-responsive" %></a>
									<div class="item">
										<h3><a href="">Nos comprometemos hacia el progreso.</a></h3>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-3 col-sm-5">
							<div class="footer-widget">
								<h4><i class="fa fa-phone"></i> &nbsp; Contactar</h4>
								<span>Organización Hondureña de Biotecnología</span>
								<p>San Pedro Sula<br />Honduras<br /> Centroamérica<p>
								<p>Cambridge, MA.<br /> 02138 United States</p>
							</div>
						</div>
						
					</div>
					<div class="copy">
						<p>&copy; Copyright <a href="#">Organización Hondureña de Biotecnología</a></p>
					</div>
				</div>
			</div>
		</div>
		
		<!-- Footer End -->		