
		<!-- Header Bar Start -->
		<div class="header">
			<div class="container">
				<!-- Navigation Menu Start -->
				<div class="navigation">
					<div class="row">
						<!-- Navigation Menu Link Lists -->
						<div class="col-md-3 col-sm-4 col-xs-6">
							<div class="menu">
								<span class="br-lblue"><i class="fa fa-desktop"></i> &nbsp; Ayuda </span>
								<div class="menu-list">
									<ul>
										<% if current_user %>
											<li><%= link_to("/articles/show", {:controller => "articles", :action => "show"}) do %>
											  <i class="fa fa-comments-o blue"></i>
											  		Noticias y Artículos
												<% end %>
											</li>
										<% else %>
											<li><%= link_to("/welcome/index", {:controller => "welcome", :action => "index" }) do %>
											  <i class="fa fa-home"></i>
											  Página Principal
												<% end %>
											</li>
										<% end %>	
										<li><%= link_to("/welcome/contact", {:controller => "welcome", :action => "contact" }) do %>
										  <i class="fa fa-phone orange"></i>
										  Contactar
											<% end %>
										</li>
										<li><%= link_to("/welcome/features", {:controller => "welcome", :action => "features"}) do %>
										  <i class="fa fa-check-square-o lblue"></i>
										  Qué Hacemos
											<% end %>
										</li>
										<li><%= link_to("/welcome/about", {:controller => "welcome", :action => "about"}) do %>
										  <i class="fa fa-user pink"></i>
										  Quiénes Somos
											<% end %>
										</li>

										
									</ul>
								</div>
							</div>
						</div>
						<div class="col-md-3 col-sm-4 col-xs-6">
							<div class="menu">
								<span class="br-green"><i class="fa fa-desktop"></i> &nbsp; Membresía y Más</span>
								<div class="menu-list">
									<ul>
										<li><%= link_to("/welcome/service", {:controller => "welcome", :action => "service"}) do %>
										  <i class="fa fa-gear red"></i>
										  		Ayúdanos
											<% end %>
										</li>
										<li><%= link_to("/welcome/pricing", {:controller => "welcome", :action => "pricing"}) do %>
										  <i class="fa fa-table red"></i>
										  		Membresía Premium
											<% end %>
										</li>
										<li><%= link_to("/welcome/benefits", {:controller => "articles", :action => "benefits"}) do %>
										  <i class="fa fa-briefcase lblue"></i>
										  		Beneficios
											<% end %>
										</li>
										<li><%= link_to("/welcome/faq", {:controller => "welcome", :action => "faq"}) do %>
										  <i class="fa fa-question red"></i>
										  	Preguntas Frecuentes
											<% end %>
										</li>

										

									</ul>
								</div>
							</div>
						</div>
						<div class="col-md-3 col-sm-4 col-xs-6">
							<div class="menu">
								<% if current_user %>
									<span class="br-red"><i class="fa fa-desktop"></i> &nbsp; Estás Ingresado</span>
								<% else %>
									<span class="br-red"><i class="fa fa-desktop"></i> &nbsp; Login / Registrarse</span>
								<% end %>
								<div class="menu-list">
									<ul>
										<li><%= link_to("/welcome/goals", {:controller => "welcome", :action => "goals"}) do %>
										  <i class="fa fa-group pink"></i>
										  		Metas y Planes
											<% end %>
										</li>
										<li><%= link_to("/welcome/helping", {:controller => "welcome", :action => "helping"}) do %>
										  <i class="fa fa-puzzle-piece green"></i>
										  		Ideas
											<% end %>
										</li>
										<% if current_user %>
											<li><%= link_to("/sessions/destroy", {:controller => "sessions", :action => "destroy"}) do %>
											  <i class="fa fa-sign-in blue"></i>
											  		Cerrar Sesión
												<% end %>
											</li>
											<li><%= link_to("/users/index", {:controller => "users", :action => "new"}) do %>
											  <i class="fa fa-sign-in blue"></i>
											  		Ver Miembros
												<% end %>
											</li>
										<% else %>
											<li><%= link_to("/users/signup", {:controller => "users", :action => "new"}) do %>
											  <i class="fa fa-sign-in blue"></i>
											  		Registrarse
												<% end %>
											</li>
											<li><%= link_to("/sessions/new", {:controller => "sessions", :action => "new"}) do %>
											  <i class="fa fa-sign-in red"></i>
											  		Log In
												<% end %>
											</li>
										<% end %>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-md-3 col-sm-4 hidden-xs">
							<div class="sform br-white">
								<span><i class="fa fa-envelope lblue"></i> Subscribirse</span>
								<div class="form">
									<form role="form">
										<div class="form-group">
											<input type="text" class="form-control" placeholder="Nombre">
											<input type="email" class="form-control" placeholder="E-mail">
											<button type="button" class="btn btn-info btn-sm">Subscribirse</button>
											<button type="button" class="btn btn-default btn-sm">Cancelar</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
				<!-- Navigation menu end -->
		</div>
		<!-- Navigation Menu Button -->
			<div class="menu-btn">
				<a href="#">Menu <i class="fa fa-chevron-down"></i></a>
			</div>
		
		
		