
<!-- Head Start -->
		<div class="head inner-pages">
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-sm-4">
						<!-- Logo and Head Text -->
						<div class="logo">
							<!-- Logo Icon and Heading -->
							<%= image_tag "logo2.png", :class => "img-responsive" %><span><a href="/">OHB</a></span>
						</div>
					</div>
					<div class="col-md-3 col-sm-4">
						<!-- Social Icon Menu -->
						<div class="social">
							<a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
							<a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
						</div>
					</div>
					<div class="col-md-3 col-sm-4">
						<div class="search">
							<form>
								<div class="input-group">
									<input type="text" class="form-control" placeholder="Text to search">
									<span class="input-group-btn">
										<button class="btn btn-danger" type="button"><i class="fa fa-search"></i></button>
									</span>
								</div>
							</form>
						</div>
					</div>
					<div class="col-md-3 hidden-sm">
					</div>
				</div>
			</div>
		</div>
		<!-- Menu Bar End -->
		<div class="inner-page feature">
			<div class="container">
				<h2><i class="fa fa-book orange"></i><strong>Qué Hacemos</strong> nuestras ideas...</h2>
				<div class="row">
					<div class="col-md-3 col-sm-6">
						<!-- Items for Feature list -->
						<div class="feature-item animated animation bounceIn">
							<!-- Feature List Image -->
							<a href="#"><%= image_tag "6.png", :class => "img-responsive" %></a>
							<!-- Feature item heading and paragraph -->
							<h4><a href="#">Noticias</a></h4>
							<p>Ayudamos a informar facilmente acerca de nuestros avances</p>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<!-- Items for Feature list -->
						<div class="feature-item animated animation bounceIn">
							<!-- Feature List Image -->
							<a href="#"><%= image_tag "4.png", :class => "img-responsive" %></a></a>
							<!-- Feature item heading and paragraph -->
							<h4><a href="#">Servicios</a></h4>
							<p>Nos comprometemos a mejorar cada el area de la biotecnología en el país, siendo la unica organizacion que lo ha hecho con iniciativa</p>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<!-- Items for Feature list -->
						<div class="feature-item animated animation bounceIn">
							<!-- Feature List Image -->
							<a href="#"><%= image_tag "5.png", :class => "img-responsive" %></a></a>
							<!-- Feature item heading and paragraph -->
							<h4><a href="#">Visiones</a></h4>
							<p>Tenemos visiones positivas hacia el futuro y nuestra red crece cada día</p>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<!-- Items for Feature list -->
						<div class="feature-item animated animation bounceIn">
							<!-- Feature List Image -->
							<a href="#"><%= image_tag "3.png", :class => "img-responsive" %></a></a>
							<!-- Feature item heading and paragraph -->
							<h4><a href="#">Siempre Disponibles</a></h4>
							<p>Nuestro poderoso sistema siempre acomoda a nuevos miembros e instituciones.</p>
						</div>
					</div>
				</div>
				<!-- Inner page feature content -->
						<div class="inner-feature">	
							<!-- First Row Element -->
							<div class="row">
								<div class="col-md-4 col-sm-4">
									<div class="if-item br-lblue">
										<i class="fa fa-bullhorn"></i>
										<h3><a href="#">Biotecnología Hondureña</a></h3>
										<p>Somos el principal portal de la biotecnología hondureña y ofrecemos prestigiosas membresías para todos interesados en la industria.</p>
									</div>
								</div>
								<div class="col-md-4 col-sm-4">
									<div class="if-item br-orange">
										<i class="fa fa-coffee"></i>
										<h3><a href="#">Coordinamos</a></h3>
										<p>Nosotros logramos coordinar ideas y eventos entre instituciones nacionales para fomentar el crecimiento de la ciencia en el país. Creemos en unificar a científicos a través de esta red y ofrecer servicios inigualables a nivel nacional.</p>
									</div>
								</div>
								<div class="col-md-4  col-sm-4">
									<div class="if-item br-purple">
										<i class="fa fa-suitcase"></i>
										<h3><a href="#">Informamos</a></h3>
										<p>Proveemos información valiosa acerca del crecimiento de la industria a nivel nacional a nuestros miembros oficiales y ayudamos a fomentar este crecimiento. Tenemos muchas metas y buscamos expandir nuestra presencia en todo el país.</p>
									</div>
								</div>
							</div>
							<!-- Second Row Element -->
							<div class="row">
								<div class="col-md-4 col-sm-4">
									<div class="if-item br-red">
										<i class="fa fa-heart"></i>
										<h3><a href="#">Impacto </a></h3>
										<p>Siendo la primera organización de este tipo, tenemos una responsabilidad de involucrar a más personas en esta área y lograr que se mejore la economía hondureña debido a inversiones nacionales o internacionales en la industria.</p>
									</div>
								</div>
								<div class="col-md-4 col-sm-4">
									<div class="if-item br-blue">
										<i class="fa fa-gift"></i>
										<h3><a href="#">Miembros</a></h3>
										<p>Ser parte de OHB puede distinguir a una institucion o individuo a nivel nacional y formamos parte de una familia de personas apasionadas por la ciencia.</p>
									</div>
								</div>
								<div class="col-md-4 col-sm-4">
									<div class="if-item br-green">
										<i class="fa fa-th-large"></i>
										<h3><a href="#">Metas Grandes</a></h3>
										<p>Buscamos siempre estar en la cima de la investigación y la ciencia hondureña a través de colaboración y conecciones</p>
									</div>
								</div>
							</div>
						</div>
				
			</div>
		</div>
				
	