
<!-- Head Start -->
    <div class="head inner-pages">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-4">
            <!-- Logo and Head Text -->
            <div class="logo">
              <!-- Logo Icon and Heading -->
              <%= image_tag "logo2.png", :class => "img-responsive" %><span><a href="/">OHB</a></span>
            </div>
          </div>
          <div class="col-md-3 col-sm-4">
            <!-- Social Icon Menu -->
            <div class="social">
              <a href="https://www.facebook.com/hondurasbiotech" class="facebook"><i class="fa fa-facebook"></i></a>
              <a href="http://www.linkedin.com/company/5042570?trk=prof-exp-company-name" class="linkedin"><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
          <div class="col-md-3 col-sm-4">
            <div class="search">
              <form>
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Text to search">
                  <span class="input-group-btn">
                    <button class="btn btn-danger" type="button"><i class="fa fa-search"></i></button>
                  </span>
                </div>
              </form>
            </div>
          </div>
          <div class="col-md-3 hidden-sm">
          </div>
        </div>
      </div>
    </div>
    <!-- Menu Bar End -->

		<!-- Inner Page Heading -->
		<div class="inner-page testimonial">
			<div class="container">
				<h2><i class="fa fa-group red"></i><strong>Metas y Planes</strong> el futuro de la biotecnología hondureña</h2>
				<div class="inner-testimonial">
					<div class="row">
						<div class="col-md-4 col-sm-4">
							<!-- testimonial content -->
							<div class="testimonial-content t-one animated animation bounceInLeft">
								<!-- User's image , name and designation -->
								<h4><%= image_tag "user-xs.jpg", :class => "img-responsive img-circle" %>Raul Jordan<span>, Fundador</span></h4>
								<!-- User's comment -->
								<blockquote class="br-orange">
									<p>Queremos llegar a ser la mejor y más grande organización a nivel hondureño y centroamericano que controle la biotecnología y ser reconocidos como una organización de prestigio y calidad.</p>
								</blockquote>
							</div>
						</div>
						<div class="col-md-4 col-sm-4">
							<!-- testimonial content -->
							<div class="testimonial-content t-two animated animation bounceInLeft">
								<!-- User's image , name and designation -->
								<h4><%= image_tag "user-xs.jpg", :class => "img-responsive img-circle" %>Raul Jordan<span>, Fundador</span></h4>
								<!-- User's comment -->
								<blockquote class="br-lblue">
									<p>Queremos comenzar a facilitar la interacción entre usuarios e inversionistas y proveer un área y espacio común en el cual puedan interactuar. Queremos hacer que estos sueños para la comunidad hondureña sean una realidad.</p>
								</blockquote>
							</div>
						</div>
						<div class="col-md-4 col-sm-4">
							<!-- testimonial content -->
							<div class="testimonial-content t-three animated animation bounceInLeft">
								<!-- User's image , name and designation -->
								<h4><%= image_tag "user-xs.jpg", :class => "img-responsive img-circle" %>Raul Jordan<span>, Fundador</span></h4>
								<!-- User's comment -->
								<blockquote class="br-green">
									<p>Planeamos demostrar a organizaciones extranjeras que tenemos suficiente influencia en honduras para hacer una industria exitosa para nosotros y para ellos también. Queremos mostrar que se puede recibir mucha ganancia a través de la biotecnología en países tercermundistas como Honduras.</p>
								</blockquote>
							</div>
						</div>
					</div>
					<!-- Second row -->
					<div class="row">
						<div class="col-md-4 col-sm-4">
							<!-- testimonial content -->
							<div class="testimonial-content t-one animated animation bounceInLeft">
								<!-- User's image , name and designation -->
								<h4><%= image_tag "bibi2.jpg", :class => "img-responsive img-circle" %>Marissa Shelton<span></span></h4>
								<!-- User's comment -->
								<blockquote class="br-purple">
									<p>Planeamos conseguir mas instituciones que se unan a OHB y obtener reconocimiento oficial del gobierno de Honduras.</p>
								</blockquote>
							</div>
						</div>
						<div class="col-md-4 col-sm-4">
							<!-- testimonial content -->
							<div class="testimonial-content t-two animated animation bounceInLeft">
								<!-- User's image , name and designation -->
								<h4><%= image_tag "bibi2.jpg", :class => "img-responsive img-circle" %>Marissa Shelton<span></span></h4>
								<!-- User's comment -->
								<blockquote class="br-red">
									<p>Estamos trabajando en unir nuestros esfuerzos colectivos para crear un grupo de usuarios que tengan la mentalidad y capacidad para contribuir positivamente a OHB. Pensamos en expandirnos a través de la ayuda de nuestros propios miembros.</p>
								</blockquote>
							</div>
						</div>
						<div class="col-md-4 col-sm-4">
							<!-- testimonial content -->
							<div class="testimonial-content t-three animated animation bounceInLeft">
								<!-- User's image , name and designation -->
								<h4><%= image_tag "bibi2.jpg", :class => "img-responsive img-circle" %>Marissa Shelton<span></span></h4>
								<!-- User's comment -->
								<blockquote class="br-blue">
									<p>Pensamos en agregar más funcionalidad a OHB y permitir que el website sea la principal forma de acceso para todos los miembros e instituciones involucradas.</p>
								</blockquote>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		
		<!-- Inner Page Content End -->

