
<!-- Head Start -->
    <div class="head inner-pages">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-4">
            <!-- Logo and Head Text -->
            <div class="logo">
              <!-- Logo Icon and Heading -->
              <%= image_tag "logo2.png", :class => "img-responsive" %><span><a href="/">OHB</a></span>
            </div>
          </div>
          <div class="col-md-3 col-sm-4">
            <!-- Social Icon Menu -->
            <div class="social">
              <a href="https://www.facebook.com/hondurasbiotech" class="facebook"><i class="fa fa-facebook"></i></a>
              <a href="http://www.linkedin.com/company/5042570?trk=prof-exp-company-name" class="linkedin"><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
          <div class="col-md-3 col-sm-4">
            <div class="search">
              <form>
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Text to search">
                  <span class="input-group-btn">
                    <button class="btn btn-danger" type="button"><i class="fa fa-search"></i></button>
                  </span>
                </div>
              </form>
            </div>
          </div>
          <div class="col-md-3 hidden-sm">
          </div>
        </div>
      </div>
    </div>
    <!-- Menu Bar End -->
				<!-- Inner Page Heading -->
				<div class="inner-page product">
					<div class="container">
						<h2><i class="fa fa-credit-card lblue"></i><strong>Ideas</strong> pensamientos importantes</h2>
						<div class="pr-content">
							<!-- Products Content -->
							<div class="row">
								<div class="col-md-8 col-sm-8">
									<!-- Product Carousel -->
									<div id="carousel-example-generic" class="carousel slide">
										<!-- Wrapper for slides -->
										<div class="carousel-inner">
											<div class="item active">
												<%= image_tag "pro1.jpg", :class => "img-responsive" %>
											</div>
											<div class="item">
												<%= image_tag "pro2.jpg", :class => "img-responsive" %>
											</div>
											<div class="item">
												<%= image_tag "pro3.jpg", :class => "img-responsive" %>
											</div>
											<div class="item">
												<%= image_tag "pro4.jpg", :class => "img-responsive" %>
											</div>
										</div>

										<!-- Controls -->
										<a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
											<span class="icon-prev"></span>
										</a>
										<a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
											<span class="icon-next"></span>
										</a>
									</div>
								</div>
								<div class="col-md-4 col-sm-4">
									<div class="pr-item">
										<h3>Nuestras Ideas</h3>
										<p>Crear una red de biotecnología facilita toda interacción económica y científica y logrará que el desarrollo de la industria en Honduras se facilite a través de esta interacción innovadora</p>
										<h5>Biotecnología</h5>
										<ul>
											<li>Manejando la economía agraria de Honduras</li>
											<li>Cultivos Genéticamente Modificados</li>
											<li>Métodos de Estudio Nuevos</li>
											<li>Pensamientos y más</li>
										</ul>
										<a href="/users/signup" class="btn btn-info">Unirse a OHB</a>
									</div>
								</div>
							</div>
							
						</div>
					</div>
				</div>

	
